<div class="container">
    <div class="content">
        <h1>We Are Art</h1>
        <p>Melde dich jetzt bei We Are Art an um bei unserem Pilotprojekt dabei zu sein!</p>
        <label>Name</label>
        <input name="name" type="text" class="input" placeholder="enter your name*" [(ngModel)]="name">
        <label>Email</label>
        <input type ="email" class="input" placeholder="enter your email*" [(ngModel)]="email">
        <label>Mobile (optional)</label>
        <input type ="text" class="input" placeholder="enter your phone (optional)" [(ngModel)]="mobile">
        <label>Hometown (optional)</label>
        <input type ="text" class="input" placeholder="enter your hometown (optional)" [(ngModel)]="hometown">
        <label>What art do you do? (optional)</label>
        <textarea class="input textfield" placeholder="What art do you do?" [(ngModel)]="art"></textarea>
        <label>Any Questions? (optional)</label>
        <textarea class="input last" placeholder="questions / ideas?" [(ngModel)]="questions"></textarea>

        <!--BUTTON-->
        <button (click)='signup()'>Registrieren</button>
    </div>
</div>