<div class="container">
    <div class="content">

        <h1 class="title">We Are Art</h1>

        <div class="picture">
            <!--picture in background-->
        </div>

        <div class="absatz_1">

            <p>We are art schafft eine neue Plattform fuer Kuenstler:innen, ob in Musik, Gestaltung oder der bildenden
                Kunst um einen direkten Kontakt zu der Community und den Konsument:innen zu ermoeglichen.</p>
        </div>

        <div class="absatz_2">
            <h1 class="end title">Wer sind wir?</h1>
            <p>Wir sind Stefan, Artjom, Emmanuel, Bastian und Dominik. Ein junges Gruendungsteam aus Wien. Uns liegt die
                Kunst sehr am Herzen, deshalb wollen wir eine neue Plattform schaffen, welche es Kuenstler:innen
                ermoelicht ihre Kunst direkt an die Konsumenten zu verkaufen, ohne Abhaengigkeit von grossen Instutionen
                - mit transparenter, nachhaltiger und fairer Bezahlung.</p>
        </div>

        <div class="absatz_3">
            <h1 class="title">Warum brauchen wir dich?</h1>
            <p>Wir sind momentan dabei die Plattform zu erschaffen, zu programmieren, zu gestalten und lernen taeglich
                neues dazu. Fuer einen erfolgreichen Start wollen wir direkt mit einer grossen Bandbreite an Kunst an
                die Oeffentlichkeit treten und brauchen dich als eine:n unsere ersten Kuenstler:innen. Vorallem aber
                brauchen wir dein Feedback! Falls du interessiert bist, dann lass uns gerne offene Fragen oder Ideen da
                - unter Registrieren gibt es dafuer ein eigenes Feld.</p>
        </div>

        <div class="absatz_4">
            <h1 class="end title">Warum brauchst du uns?</h1>
            <p>Hast du dich schon einmal geaegert ueber eine Bezahlung von weit weniger als einem Cent pro stream? Hast
                du dich schon einmal gefragt wie bzw. wo du deine ganzen Bilder und Gemaelde verkaufen sollst, bzw.
                deiner Community (die dich sicher unterstuetzen will) nahebringen kannst? Genau da kommen wir ins Spiel.
                Wir schaffen einen Marktplatz, der es dir ohne Anmeldegebuehr ermoeglicht deine Kunst fuer einen von dir
                festgelegten Preis direkt an deine Community weiterzuverkaufen. Darueber hinaus verdienst du bei jedem
                Weiterverkauf deiner Kunst mit. Der Preis und die Abgaben bleiben dabei die ganze Zeit transparent und
                fair.</p>
        </div>

        <div class="absatz_5">
            <h1 class="title">Wie funktioniert das ueberhaupt?</h1>
            <p>Kurzgesagt: Mittels NFTs und Blockchain Technologien. Das heisst vereinfacht: Deine Kunst bekommt beim
                Upload einen Token, welcher das Werk als Original kennzeichnet. Der Weiterverkauf erfolgt dann mittels
                Blockchain, welches ein grosses und dezentrales Netzwerk ist, welches ermoeglicht, dass die
                Endkund:innen direkt dein Produkt kaufen, ohne dass eine Transaktion ueber eine Bank oder aehnliche
                Institutionen noetig ist. Ja, wir werden uns einen Teil vom Gewinn behahlten: Um die Plattform zu
                stellen, unsere Codes zu pflegen und vor allem um sie wieder in dich als Kuenstler:in zu investieren in
                Form von Featurings und Vorschuessen fuer neue Kunstwerke. Wieviel das dann genau sein wird, wirst du
                und werden auch wir noch erfahren. Wir garantieren aber jetzt schon fuer Fairness und vor allem
                Transparenz.</p>
        </div>

        <div class="absatz_6">
            <h1 class="end title">Interessiert?</h1>
            <p>Haben wir dein Interesse geweckt? Wenn ja, dann freuen wir uns sehr, wenn du dich bei uns registrierst.
                Wir werden uns dann bald bei dir melden. Mit deiner Registrierung schreiben wir dich auf eine Liste,
                potenzieller erster Kuenstler:innen - du riskierst damit noch gar nichts. Mit deinen Daten gehen wir
                selbstverstaendlich verantwortungsvoll um (siehe Impressum!). Auch wenn du noch skeptisch sein solltest
                oder andere Ideen hast freuen wir uns uber eine Nachricht von dir! Wir freuen uns auf dich!</p>
            <p class="namen">Stefan, Artjom, Emmanuel, Bastian, Dominik</p>

            <!--BUTTON-->
            <button routerLink="/register">Registrieren</button>

        </div>

    </div>

</div>