<div class="container">
    <div class="content">
        <div class="text">
            <h1>We Are Art</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, velit? Accusamus labore nam sequi dolor
                numquam, fuga id beatae qui ullam recusandae aperiam magni enim praesentium at tenetur ut, iure sapiente
                ratione
                officia nemo, distinctio molestiae atque! Fugiat excepturi sit asperiores fuga assumenda a modi dignissimos,
                temporibus quas saepe nemo magnam alias explicabo maiores non dolores reiciendis eum ex doloribus aspernatur
                dicta, sed ratione? Iusto voluptatem accusantium harum maiores, corrupti, dolorem eum rem accusamus
                temporibus,
                fuga ipsam nobis architecto voluptates ratione dicta blanditiis alias placeat. Distinctio, nostrum vitae
                quibusdam, eos facere qui dolores non consectetur, doloribus ipsa quis fuga atque?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, tenetur! Quis minus harum sit dolor
                architecto
                est nisi tempora velit quam eligendi quod modi recusandae facilis illo, sapiente vel in vero maxime, cumque
                quae
                sunt consequatur voluptate. Totam iure porro, numquam accusamus vel nihil, fugit provident expedita
                molestiae,
                quod deleniti dolorem consectetur officiis ullam quia debitis nulla quo odit saepe ipsa dolorum non quae
                dicta
                ad? Distinctio doloribus sint dolores non corrupti veritatis, neque a iste possimus pariatur minima
                reiciendis
                officiis enim, maiores beatae ut quasi voluptatem animi dolore! Adipisci molestiae quis, sunt qui tempora
                recusandae veniam vel dolores facilis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa incidunt consequuntur repudiandae repellat
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis sunt quam molestias? Eum blanditiis quaerat repellat vitae modi quibusdam ipsum exercitationem inventore voluptas suscipit tenetur officiis magnam laborum amet distinctio porro adipisci quisquam, ex dolores, ducimus eos doloremque explicabo? Libero ipsam eligendi provident fuga cumque corporis rem quas aliquam consectetur voluptates perspiciatis pariatur laborum odio, unde eius illo possimus, suscipit in mollitia asperiores a totam quos! Earum, doloremque? Dolor eius laborum quibusdam incidunt est quas eligendi, impedit repellendus alias quam culpa ipsa veritatis quis deleniti dolore architecto voluptas ullam debitis esse laudantium. Hic consequatur nemo maxime voluptatem sunt asperiores consequuntur.</p>
        </div>
        
    </div>

</div>